<!-- Form Submission Thank You -->
<div class="modal" id="thankYouModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Thank you for contacting me. I'll back to you soon!</p>
            </div>
        </div>
    </div>
</div>

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1><b>Passionate Web Developer.</b></h1>
        <p>
            Living in Aarhus. Currently studying at Business Academy Aarhus and looking for a Fulltime Developer job for when I am graduating in January!
            I am Backend focused, but also exploring the field of Frontend. You can get in touch with me here.
        </p>
        <a href="#contact" class="btn btn-primary btn-lg">Contact me now &raquo;</a>
    </div>
</div>

<!-- Projects Section -->
<div id="projects" class="container projects">
    <div class="row project">
        <div class="col-12 col-md-6">
            <img alt="Attendify Dashboard" class="img-fluid" src="~/images/Attendify/AttendifyDashboard-small.webp" />
        </div>
        <div class="col-12 col-md-6">
            <h2>Attendify</h2>
            <p>
                ASP.NET Project using Entity Framework. Attendance system for schools to provide an easier method of registering attendance.
            </p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#AttendifyModal">Learn more &raquo;</button>

            <!-- Modal -->
            <div class="modal fade" id="AttendifyModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-lg-7">
                                        <div id="carouselIndicatorsAttendify" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselIndicatorsAttendify" data-slide-to="0" class="active"></li>
                                                <li data-target="#carouselIndicatorsAttendify" data-slide-to="1"></li>
                                                <li data-target="#carouselIndicatorsAttendify" data-slide-to="2"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <picture class="d-block w-100 img-fluid" alt="Attendify Login">
                                                        <source media="(min-width: 600px)"
                                                                srcset="~/images/Attendify/AttendifyLogin-large.webp" />
                                                        <img class="d-block w-100 img-fluid" src="~/images/Attendify/AttendifyLogin-small.webp" alt="Attendify Login">
                                                    </picture>
                                                </div>
                                                <div class="carousel-item">
                                                    <picture class="d-block w-100 img-fluid" alt="Attendify Dashboard">
                                                        <source media="(min-width: 600px)"
                                                                srcset="~/images/Attendify/AttendifyDashboard-large.webp" />
                                                        <img class="d-block w-100 img-fluid" src="~/images/Attendify/AttendifyDashboard-small.webp" alt="Attendify Dashboard">
                                                    </picture>
                                                </div>
                                                <div class="carousel-item">
                                                    <picture class="d-block w-100 img-fluid" alt="Attendify Relational Select">
                                                        <source media="(min-width: 600px)"
                                                                srcset="~/images/Attendify/AttendifyRelationalSelect-large.webp" />
                                                        <img class="d-block w-100 img-fluid" src="~/images/Attendify/AttendifyRelationalSelect-small.webp" alt="Attendify Relational Select">
                                                    </picture>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-5">
                                        <h3 class="modal-title">Attendify</h3>
                                        <p>
                                            A attendance system built in ASP.NET MVC for schools allowing students to check-in to lectures and the teachers to monitor their attendance.
                                            I primarily worked on accessing relational data from the tabels by creating ViewModels and utilizing navigation properties to get the appropiate data.
                                            We were challenged by our domain model design, iterating this, and how to version control our LocalDB setup for different migrations of the database.
                                            It would definetely have been more convenient to have an online database for production.
                                            I gained a lot of experience with Entity Frameworks and how to work with a database in the Backend.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="https://github.com/Slund/Attendify" class="btn">View on Github</a>
                                <button type="button" class="btn" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row project">
        <div class="col-12 col-md-6">
            <img src="~/images/Amajohn/AmajohnStart-small.webp" alt="Amajohn Start" class="img-fluid" />
        </div>
        <div class="col-12 col-md-6">
            <h2>Amajohn Webshop</h2>
            <p>
                ASP.NET Project building the fundations of a Webshop with Cart funtionality and dynamic Catalogue.
            </p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#AmajohnModal">Learn more &raquo;</button>

            <!-- Modal -->
            <div class="modal fade" id="AmajohnModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-lg-7">
                                        <div id="carouselIndicatorsAmajohn" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselIndicatorsAmajohn" data-slide-to="0" class="active"></li>
                                                <li data-target="#carouselIndicatorsAmajohn" data-slide-to="1"></li>
                                                <li data-target="#carouselIndicatorsAmajohn" data-slide-to="2"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <picture class="d-block w-100 img-fluid" alt="Amajohn Home">
                                                        <source media="(min-width: 600px)"
                                                                srcset="~/images/Amajohn/AmajohnStart-large.webp" />
                                                        <img class="d-block w-100 img-fluid" src="~/images/Amajohn/AmajohnStart-small.webp" alt="Amajohn Home">
                                                    </picture>
                                                </div>
                                                <div class="carousel-item">
                                                    <picture class="d-block w-100 img-fluid" alt="Amajohn Cart">
                                                        <source media="(min-width: 600px)"
                                                                srcset="~/images/Amajohn/AmajohnCart-large.webp" />
                                                        <img class="d-block w-100 img-fluid" src="~/images/Amajohn/AmajohnCart-small.webp" alt="Amajohn Cart">
                                                    </picture>
                                                </div>
                                                <div class="carousel-item">
                                                    <picture class="d-block w-100 img-fluid" alt="Amajohn Checkout">
                                                        <source media="(min-width: 600px)"
                                                                srcset="~/images/Amajohn/AmajohnCheckout-large.webp" />
                                                        <img class="d-block w-100 img-fluid" src="~/images/Amajohn/AmajohnCheckout-small.webp" alt="Amajohn Checkout">
                                                    </picture>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-5">
                                        <h3 class="modal-title">Amajohn Webshop</h3>
                                        <p>
                                            The project is built utilizing the full potential of the ASP.NET framework.
                                            The most advanced functions are the custom helper method and model binder.
                                            It took a long time to really understand how it should work properly and came down to carefully looking at inherited class references and examples over and over.
                                            The project has deepened my understanding of Object Oriented Programming, the .NET framework and its capabilities.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="https://github.com/Slund/Amajohn" class="btn">View on Github</a>
                                <button type="button" class="btn" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row project">
        <div class="col-12 col-md-6">
            <img src="~/images/WebDevsUmbraco/WebDevsUmbraco-small.webp" alt="WebDevs UmbracoCMS" class="img-fluid" />
        </div>
        <div class="col-12 col-md-6">
            <h2>WebDevs Aarhus</h2>
            <p>
                A project exploring the core functions and the extensibility of the Umbraco CMS.
            </p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#UmbracoModal">Learn more &raquo;</button>

            <!-- Modal -->
            <div class="modal fade" id="UmbracoModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-lg-7">
                                        <div id="carouselIndicatorsUmbraco" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselIndicatorsUmbraco" data-slide-to="0" class="active"></li>
                                                <li data-target="#carouselIndicatorsUmbraco" data-slide-to="1"></li>
                                                <li data-target="#carouselIndicatorsUmbraco" data-slide-to="2"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <picture class="d-block w-100 img-fluid" alt="WebDevs UmbracoCMS">
                                                        <source media="(min-width: 600px)"
                                                                srcset="~/images/WebDevsUmbraco/WebDevsUmbraco-large.webp" />
                                                        <img class="d-block w-100 img-fluid" src="~/images/WebDevsUmbraco/WebDevsUmbraco-small.webp" alt="WebDevs UmbracoCMS">
                                                    </picture>
                                                </div>
                                                <div class="carousel-item">
                                                    <picture class="d-block w-100 img-fluid" alt="WebDevs Umbraco Backoffice">
                                                        <source media="(min-width: 600px)"
                                                                srcset="~/images/WebDevsUmbraco/WebDevsUmbracoBackoffice-large.webp" />
                                                        <img class="d-block w-100 img-fluid" src="~/images/WebDevsUmbraco/WebDevsUmbracoBackoffice-small.webp" alt="WebDevs Umbraco Backoffice">
                                                    </picture>
                                                </div>
                                                <div class="carousel-item">
                                                    <picture class="d-block w-100 img-fluid" alt="WebDevs Umbraco NavigationMenu">
                                                        <source media="(min-width: 600px)"
                                                                srcset="~/images/WebDevsUmbraco/WebDevsUmbracoNavigationMenu-large.webp" />
                                                        <img class="d-block w-100 img-fluid" src="~/images/WebDevsUmbraco/WebDevsUmbracoNavigationMenu-small.webp" alt="WebDevs Umbraco NavigationMenu">
                                                    </picture>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-5">
                                        <h3 class="modal-title">WebDevs Aarhus</h3>
                                        <p>
                                            A ASP.NET project for testing out Umbraco and the core functionalities of the CMS.
                                            The most challenging, and exicting, part have been to discover how Umbraco extends the normal way ASP.NET functions with the Umbraco Namespace and how to customize and build Document Types, Templates, Partials, Macros, Editors etc.
                                            Luckily, great resource is available.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <a href="https://github.com/Slund/UmbracoWebDev" class="btn">View on Github</a>
                                <button type="button" class="btn" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div class="row project">
        <div class="col-12 col-md-6">
            <img src="~/images/spacepirates/SpacePiratesStart-small.webp" alt="SpacePirates Start" class="img-fluid" />
        </div>
        <div class="col-12 col-md-6">
            <h2>Space Pirates</h2>
            <p>
                Game development project made with Unity and C#. First-person-shooter with basic AI enemies. Made by a team of three where I was responsible for the programming.
            </p>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#spacePiratesModal">Learn more &raquo;</button>

            <!-- Space Pirates Modal -->
            <div class="modal fade" id="spacePiratesModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="container-fluid">
                                <div class="row">
                                    <div class="col-12 col-lg-7">
                                        <div id="carouselIndicatorsSpace" class="carousel slide" data-ride="carousel">
                                            <ol class="carousel-indicators">
                                                <li data-target="#carouselIndicatorsSpace" data-slide-to="0" class="active"></li>
                                                <li data-target="#carouselIndicatorsSpace" data-slide-to="1"></li>
                                                <li data-target="#carouselIndicatorsSpace" data-slide-to="2"></li>
                                            </ol>
                                            <div class="carousel-inner">
                                                <div class="carousel-item active">
                                                    <picture class="d-block w-100 img-fluid" alt="SpacePirates Start">
                                                        <source media="(min-width: 600px)"
                                                                srcset="~/images/spacepirates/SpacePiratesStart-large.webp" />
                                                        <img class="d-block w-100 img-fluid" src="~/images/spacepirates/SpacePiratesStart-small.webp" alt="SpacePirates Start">
                                                    </picture>
                                                </div>
                                                <div class="carousel-item">
                                                    <picture class="d-block w-100 img-fluid" alt="SpacePirates Enemies">
                                                        <source media="(min-width: 600px)"
                                                                srcset="~/images/spacepirates/SpacePiratesEnemies-large.webp" />
                                                        <img class="d-block w-100 img-fluid" src="~/images/spacepirates/SpacePiratesEnemies-small.webp" alt="SpacePirates Enemies">
                                                    </picture>
                                                </div>
                                                <div class="carousel-item">
                                                    <picture class="d-block w-100 img-fluid" alt="SpacePirates Boss Skeleton">
                                                        <source media="(min-width: 600px)"
                                                                srcset="~/images/spacepirates/SpacePiratesBossSkeleton-large.webp" />
                                                        <img class="d-block w-100 img-fluid" src="~/images/spacepirates/SpacePiratesBossSkeleton-small.webp" alt="SpacePirates Boss Skeleton">
                                                    </picture>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12 col-lg-5">
                                        <h3 class="modal-title">Space Pirates</h3>
                                        <p>
                                            A FPS built in Unity with C# programming. A really challenging project due to big goals from the team.
                                            The hardest parts were to program the 'AI' of the enemies, the game-events and the weapon.
                                            For the AI, we ended up with the built-in NavMeshAgent scripting API after trying a few different script packages.
                                            Getting gun animations and scripts to function also caused trouble, ultimately it came down to persistence and seeking out help online and from peers.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Profile and Contact Section -->
<!-- Google Map to render here -->
<div class="container-fluid" id="map"></div>

<div id="contact" class="container contact">
    <div class="row">
        <div class="col-sm-3 profile text-center">
            <img src="~/images/SoerenLundProfile.webp" class="rounded-circle" alt="Søren Ravn Lund" />
            <br />
            <a href="tel:60122748" class="btn btn-danger btn-sm">
                +45 6012 2748
            </a>
            <br />
            <div class="col-12 icons">
                <a href="https://github.com/Slund"><i class="fab fa-github fa-2x pr-2"></i></a>
                <a href="https://www.linkedin.com/in/srlund/"><i class="fab fa-linkedin fa-2x pr-2"></i></a>
                <a href="mailto:slundmain@gmail.com"><i class="fas fa-envelope fa-2x pr-2"></i></a>
            </div>

        </div>
        <div class="col-sm-9">
            @Html.Partial("_ContactForm")
        </div>
    </div>
</div>