body {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    background-color: black;
    opacity: 0.85;
    padding: 0 1rem;
}

.navbar-brand img {
    height: 75px;
}

.nav-link {
    font-weight: bold;
    font-size: 0.8rem;
    border-bottom: 3px solid transparent;
    color: #fff;
}

.navbar-nav .active > .nav-link,
.navbar-nav .nav-link.active {
    border-bottom: 3px solid #F23219;
}

.navbar-brand {
    font-weight: bold;
}

.container {
    max-width: 900px;
}

.btn {
    color: #fff;
    background-color: #F23219;
    border:none;
}

.btn:hover {
    color: #fff;
    background-color: #F23219;
    border-color: #bd2130;
}

.jumbotron {
    padding-top: 20rem;
    padding-bottom: 13rem;
    background-image: url("../images/RinggadebroenAarhus.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
}

.jumbotron h1 {
    font-size: 3rem;
    font-weight: bold;
    color: whitesmoke;
}

.jumbotron p {
    color: whitesmoke;
}

/* Modal Custom Styling */
@media (min-width: 576px) {
    .modal-lg {
        max-width: 700px;
    }
}

@media (min-width: 992px) {
    .modal-lg {
        max-width: 1100px;
    }
}

.modal-title {
    color: #F23219;
}

.modal-footer {
    border: none;
}

.projects {
    margin-bottom: 2rem;
}

.project .div img {
    align-items: center;
}

.projects .project {
    padding: 3rem;
}

.carousel-item {
    height: 350px;
}

.carousel-indicators .active {
    background-color: #F23219;
}

.carousel-indicators > li {
    background-color: black;
}


#map {
    width: 100%;
    height: 500px;
    padding: 0px 0px;
}

#map iframe {
    width:100%;
    height:100%;
    border-width:0.5px;
    border-color:lightgrey;
}

.contact {
    padding: 75px;
}

.contact .profile img {
    height: 125px;
    width: 125px;
}

.contact .profile a {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact .profile .icons {
    padding-bottom: 35px;
}

.contact .profile .icons svg {
    color: #F23219;
}

.field-validation-error {
    color: red;
}

footer {
    background-color: lightgray;
    opacity: 0.6;
    padding: 75px;
}

footer p {
    margin: 0;
}

/*Extra small devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    .nav-link {
        padding: 35px;
    }

    h1 {
        padding-bottom: 2rem;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    .projects {
        text-align: left;
    }

    .jumbotron {
        text-align: left;
    }
}